*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 350px;
    background-color: rgb(14, 13, 13);
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 19px;
    text-align: center;
    color: aliceblue;
}

h1{
    color: rgb(238, 9, 85);
    margin-bottom: 10px;
}
input, textarea{
    width: 250px;
    padding: 10px;
    margin: 10px;
}
textarea{
    height: 80px;
}
button{
    background: green;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
}